@for (course of courses(); track $index) {
	<div class="course-card">
		<div class="course-header">
			<span class="course-title">{{ course.title }}</span>
		</div>
		<img class="course-image" [src]="course.iconUrl" >
		<div class="course-description">
			<p>{{ course.longDescription }} </p>
		</div>
		<div class="courses-actions">
			<button class="btn">
				VIEW COURSE
			</button>
			<button class="btn" (click)="onEdit(course)">
				EDIT
			</button>
			<img class="delete" (click)="onDelete(course.id)" src="/assets/icons/delete.svg">
		</div>
	</div>
}
